
.celda-editar {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    border: dashed #0F7BE1;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellow;
    background-size: cover !important;
    background-position: center !important;
    background-color: #125ce4;
}

.celda-editar.luz {
    background-color: #B12FDC;
}

.celda-editar.bot::before {
    content: '▲';
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%) rotate(0);
    color: rgb(0, 255, 0);
    font-size: 1.5rem;
    transition: .5s;
    z-index: 100;
} 

.celda-editar.bot.derecha::before {
    top: 50%;
    left: 100%;
    transform: translateX(-50%) translateY(-50%) rotate(var(--sentido));
}

.celda-editar.bot.abajo::before {
    top: 100%;
    transform: translateY(-50%) translateX(-50%) rotate(var(--sentido));
}

.celda-editar.bot.izquierda::before {
    top: 50%;
    left: 0;
    transform: translateY(-50%) translateX(-50%) rotate(var(--sentido));
}

.celda-editar.bot.voltear {
    transform: scaleX(-1);
}

.tool-fondo-celda {
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    transform: scale(1.2) !important;
}

.tool-fondo-celda.voltear {
    transform: scaleX(-1) scale(1.2) !important;
}

.quitar-celda {
    border: solid #fff;
    position: absolute;
    bottom: 100%;
    left: 100%;
    z-index: 100;
    transform: translateY(50%) translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: red;
    color: #fff;
    transition: .3s;
}

.quitar-celda:hover {
    transform: translateY(50%) translateX(-50%) rotate(90deg);
}

.quitar-celda:active {
    transform: translateY(50%) translateX(-50%) rotate(90deg) scale(.8);
}

@media screen and (max-width: 1010px) {
    .celda-editar {
        /* width: 80%;
        margin: auto; */
    }
}




