.comando {
    position: relative;
    width: 60px;
    height: 60px;
    /* aspect-ratio: 1 / 1; */
    border: solid #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    font-size: 2rem;
    color: yellow;
    font-weight: 800;
}

/* descomentar esto para agregar borde al texto H3 */
.comando h3 {
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff; */
}

.comando.p1 h3 {
    color: #FF7F50;
}

.comando.p2 h3 {
    color: #EA2BFF;
}

.comando.inhabilitar {
    pointer-events: none;
}

.comando.resaltar {
    /* border: 3px solid yellow; */
    background-color: rgb(240, 240, 12);
    box-shadow: 0 0 15px 5px rgba(255, 255, 0, 0.6);
    transform: scale(1.1);
    color: #fff;
}

.comando.resaltado {
    border: 2px solid yellow;
    animation: pulso 1s infinite;
    border-radius: 8px;
}


.quitar-comando {
    position: absolute;
    top: -15px;
    right: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    opacity: 0;
    transition: all .3s, opacity .3s, transform .5s;
    transform: rotate(-95deg);
    border-radius: 50%;
    color: #191c31;
    background-color: #0ef;
}

.comando:hover .quitar-comando {
    opacity: 1;
    transform: rotate(0deg);
}

.quitar-comando:hover {
    background-color: #f00;
    transform: rotate(90deg) !important;
    color: #fff;
}

.quitar-comando:active {
    transform: scale(.7) !important;
}

@media (max-width: 850px) {
    .comando {
        height: 60px;
        width: 60px;
        border-radius: 15px;
    }

    .quitar-comando {
        opacity: 1;
        font-size: 25px;
    }
}