.grilla-editar-contenedor {
    border: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 700px;
    margin: auto;
    gap: 20px;
    overflow: auto;
}



.grilla-editar-wrapper {
    /* border: solid #fff; */
    width: min(500px, 100%);
    aspect-ratio: 1 / 1;
    background-color: #19192D;
    border-radius: 20px;
    padding: 20px;

}

.grilla-editar-wrapper.x6 {
    width: min(550px, 100%);
}

.grilla-editar-wrapper.x7 {
    width: min(600px, 100%);
}

.editar-titulo {
    color: #1ABCFD;
    text-shadow: 0 0 5px #1ABCFD;
    text-align: center;
    font-size: 1.2rem;
}

.grilla-editar {
    /* border: solid yellow; */
    /* width: 100%;  */
    width: min(500px, 100%);

    aspect-ratio: 1 / 1;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(var(--tamanioGrilla), 1fr);
    gap: 3px;
}

.grilla-editar.x6 {
    width: min(550px, 100%);
}

.grilla-editar.x7 {
    width: min(600px, 100%);
}

.titulo-mapa-contenedor {
    position: relative;
    /* border: solid #fff; */
    gap: 10px;
    width: 80%;
}

.titulo-mapa-contenedor label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    color: rgb(255, 136, 1);
    font-weight: 600;
    text-align: center;
    font-size: 1.3rem;
    transition: .3s;
    background-color: #1E2A63;
    border-radius: 10px;
    padding: 0 5px;
    width: 55%;
}

.titulo-mapa-contenedor input {
    height: 60px;
    width: 100%;
    border-radius: 15px;
    background-color: #1E2A63;
    border: solid 3px rgb(255, 136, 1);
    padding: 0 15px;
    outline: none;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
}

.titulo-mapa-contenedor input:focus~label {
    top: -15px;
    transform: translateY(0) translateX(-50%);
}

.titulo-mapa-contenedor input:focus ~ label,
.titulo-mapa-contenedor input:valid ~ label {
    top: -15px;
    transform: translateY(0) translateX(-50%);
}

@media screen and (max-width: 1010px) {
    .grilla-editar-contenedor {
        /* border: solid #fff; */
    }

    .grilla-editar-wrapper {
        width: min(320px, 100%);
        margin: auto;
    }
}

@media screen and (max-width: 768px) {
    .grilla-editar-contenedor {
        display: none;
    }
}