

.niveles-wrapper {
    position: absolute;
    height: 100vh;
    width: min(600px, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;
}

.niveles-wrapper.ocultarDer {
    transform: translateX(100vw);
}

.niveles-wrapper.ocultarIzq {
    transform: translateX(-100vw);
}

.niveles-card {
    width: min(600px, 100%);
    aspect-ratio: 1 / 1;
    background: linear-gradient(45deg, #ff00cc, #354EDE, #18B2F8);
    padding: 4px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .8);
    animation: flotar-nivel-contenedor 5s linear infinite;
    transition: 2s;
}


@keyframes flotar-nivel-contenedor {
    50%{
        transform: translateY(10px);
    }
}

.niveles-card.ocultarDer, .niveles-card.ocultarIzq {
    /* position: absolute; */
    scale: .5;
    transition: 1s;
}


.contenido-niveles-card {
    background: #232247;
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 25% 60% 15%;
}

.niveles-header {
    color: #1ABCFD;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.7rem;
    font-weight: 400;
    gap: 20px;
    text-shadow: 0 0 20px rgba(26, 188, 253, .8);
    text-align: center;
    padding: 0 20px;
}

.niveles-header h3 {
    font-size: 1.3rem;
    color: #D220D3;
    text-shadow: none;
}


.niveles-contenedor {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 1fr;
    padding: 20px;
    gap: 20px;
}

.niveles-footer {
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    gap: 10px;
    text-align: center;
}

.barra-progreso {
    /* border: solid #fff; */
    position: relative;
    width: 100%;
    height: 10px;
    border-radius: 20px;
    background-color: #17172d;
    overflow: hidden;
}


.barra-progreso::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: linear-gradient(90deg, #D122D5, #1BBCFD);
    border-radius: 20px;
}





@media (max-width: 768px) {
    .niveles-header {
        font-size: 1.5rem;
    }
}

@media (max-width: 510px) {
    .niveles-header {
        font-size: 1rem;
        gap: 0;
        padding: 0 10px;
    }

    .niveles-header h3 {
        font-size: .9rem;
    }
}

@media (max-width: 410px) {
    .niveles-contenedor {
        gap: 10px;
        padding: 0 10px;
    }
}

@media (max-width: 350px) {
    .niveles-header {
        font-size: .7rem;
        gap: 0;
    }

    .niveles-footer {
        font-size: .9rem;
    }
}