

.panel-editar {
    /* border: solid #fff; */
    height: 100vh;
    width: min(600px, 100%);
    margin-left: auto;
    /* width: ; */
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.herramientas {
    /* border: solid yellow; */
    height: 250px;
    background-color: #26234C;
    border-radius: 20px;
}

.titulo-herramientas {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.herramientas-contenedor {
    /* border: solid red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.botones-editar {
    background-color: #25234C;
    border-radius: 20px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.boton-editar {
    position: relative;
    height: 50px;
    width: 200px;
    border-radius: 15px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    background: linear-gradient(-45deg, #6C4BEB, #CC24D6);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    overflow: hidden;
    transition: .3s;
    border: none;
    outline: none;
}

.boton-editar:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px #1496EC;
    border: solid #fff;
}

.boton-editar:active {
    transform: translateY(0);
}

.boton-editar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, transparent, transparent, rgba(255, 255, 255, .8) , transparent, transparent);
    transform: translateX(-100%);
    transition: .3s;
}

.boton-editar:hover::before {
    transform: translateX(100%);
}

.girar-bot-herramienta {
    /* border: solid; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    color: #0ef;
}

.girar-bot {
    transition: .5s;
    /* border: solid #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.girar-bot.inhabilitar {
    cursor: not-allowed;
    opacity: .5;
    pointer-events: none;
}

.girar-bot.inhabilitar:hover {
    transform: scale(1);
}

.girar-bot.inhabilitar:active {
    transform: scale(1);
}

.girar-bot:active {
    transform: scale(.9) !important;
}

.girar-bot-izq:hover {
    transform: scale(1.3);
    color: #C228D8;
}

