.panel-editar {
    /* border: solid #fff; */
    height: 100vh;
    width: min(600px, 100%);
    margin-left: auto;
    /* width: ; */
    padding: 0px 20px;
    padding-top: 80px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    z-index: 50;
    overflow: auto;

}

.herramientas {
    /* border: solid yellow; */
    height: 250px;
    background-color: #26234C;
    border-radius: 20px;
}

.titulo-herramientas {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.herramientas-contenedor {
    /* border: solid red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.botones-editar {
    background-color: #25234C;
    border-radius: 20px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.boton-editar {
    position: relative;
    height: 50px;
    width: 200px;
    border-radius: 15px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    background: linear-gradient(-45deg, #6C4BEB, #CC24D6);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    overflow: hidden;
    transition: .3s;
    border: none;
    outline: none;
}

.boton-editar.cargando::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-left: solid 5px #fff;
    border-right: none;
    animation: cargando 1s linear infinite;
}

@keyframes cargando {
    100% {
        transform: translateY(-50%) translateX(-50%) rotate(360deg);
    }
}

.boton-editar.cargando {
    pointer-events: none;
    cursor: not-allowed;
}

.boton-editar.cancelar-cargando {
    transform: scale(.8);
    opacity: .8;
    cursor: not-allowed;
    pointer-events: none;
}


.boton-editar:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px #1496EC;
    border: solid #fff;
}

.boton-editar:active {
    transform: translateY(0);
}

.boton-editar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, transparent, transparent, rgba(255, 255, 255, .8), transparent, transparent);
    transform: translateX(-100%);
    transition: .3s;
}

.boton-editar:hover::before {
    transform: translateX(100%);
}

.girar-bot-herramienta {
    /* border: solid; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    color: #0ef;
}

.girar-bot {
    transition: .5s;
    /* border: solid #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.girar-bot.inhabilitar {
    cursor: not-allowed;
    opacity: .5;
    pointer-events: none;
}

.girar-bot.inhabilitar:hover {
    transform: scale(1);
}

.girar-bot.inhabilitar:active {
    transform: scale(1);
}

.girar-bot:active {
    transform: scale(.9) !important;
}

.girar-bot-izq:hover {
    transform: scale(1.3);
    color: #C228D8;
}

@media screen and (max-width: 830px) {
    .panel-editar {
        height: 100%;
        /* border: solid #fff; */
        width: min(500px, 100%);
        /* display: none; */
    }

    .titulo-herramientas {
        font-size: 1.3rem;
    }

    .herramientas {
        width: min(500px, 100%);
        height: auto;
    }

    .herramientas-contenedor {
        flex-wrap: wrap;
    }
}

.nivel-config {
    height: auto;
    background-color: #22244F;
    border-radius: 20px;
    border: solid 3px #BE2AD9;
    padding: 20px;
}

.nivel-config h3 {
    color: #1ABCFD;
    font-size: 1.3rem;
}

.tamanios-opciones {
    /* border: solid #fff; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px 0;
}

.tamanio-opcion-btn {
    height: 50px;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #242145;
    border: solid 3px #1ABCFD;
    color: #0ef;
    padding: 10px 20px;
    transition: .3s ease-out;
}

.tamanio-opcion-btn.marcar {
    background-color: #1ABCFD;
    color: #242145;
}

.tamanio-opcion-btn:hover {
    background-color: #1ABCFD;
    color: #242145;
    box-shadow: 0 0 20px #1ABCFD;
}

.tamanio-opcion-btn:active {
    background-color: #fff;
    box-shadow: 0 0 20px #fff;
}

.mecanicas-container {
    /* border: solid #fff; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.mecanica-label {
    height: 40px;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 1rem;
    color: #D320D4;
    border: solid 3px #D320D4;
    background-color: #242145;
    transition: .2s ease-out;
    outline: none;
}

.mecanica-label.marcar {
    background-color: #D320D4;
    color: #fff;
}

.mecanica-label:hover {
    background-color: #D320D4;
    color: #fff;
    box-shadow: 0 0 20px #D320D4;
}

.mecanica-label:active {
    background-color: #fff;
    color: #D320D4;
}

.limite-comandos-crear {
    /* border: solid; */
    padding-top: 10px;
}

.limite-comandos-crear h4 {
    font-size: 1rem;
}

.limite-container {
    border: solid red;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.sin-limite {
    height: 20px !important;
    width: 20px !important;
}

.limite-comando {
    border: solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.limite-comando input {
    height: 40px;
    width: 70px;
    text-align: center;
    font-size: 1.2rem;
    background-color: #202656;
    color: #fff;
    border: solid 2px #1ABCFD;
    outline: none;
    margin: 5px;
    border-radius: 10px;
    padding: 0 5px;
    transition: .3s;
}

.limite-comando input:focus {
    box-shadow: 0 0 20px #D320D4;
    border-color: #D320D4;
}

@media screen and (max-width: 768px) {
    .panel-editar {
        display: none;
    }
}