
.creador {
    /* border: solid  #fff; */
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #fff;
    transform: translateX(1500px);
    transition: 1s ease-in;
    
}

.creador.mostrar {
    transform: translateX(0);
}

.no-disponible {
    display: none;
}

@media screen and (max-width: 768px) {

    .no-disponible {
        display: flex !important;
        justify-content: center;
        align-items: center;
        color: #fff;
        text-align: center;
        flex-direction: column;
        gap: 20px;
        font-size: 1.3rem;
    }
}