.menu-inicio {
    height: 100vh;
    width: min(500px, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: 1s ease-in;
    margin: auto;
    
}

.menu-inicio.ocultar-para-mi-nivel {
    transform: translateY(-100%);
}

.menu-inicio.ocultar {
    transform: translateX(-100vw);
}

.menu-inicio.deslizar {
    transform: translateY(-100%);
}

.inicio-flip-container {
    /* border: solid #fff; */
    perspective: 1000px;
    width: 100%;
    height: 550px;
    position: relative;
}

.inicio-flip {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.8s ease;
    transform-style: preserve-3d;

}

.contenedor-menu-inicio,
.mis-niveles-container {
    position: absolute;
    backface-visibility: hidden;
}


.contenedor-menu-inicio {
    display: grid;
    grid-template-rows: 25% 75%;
    height: 550px;
    width: 100%;
    transition: 1s;
}

.contenedor-menu-inicio.girar {
    transform: rotateY(-180deg);
}

.contenedor-menu-animado {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, .5); */
    animation: flotar-opciones 5s infinite linear;
    /* border: solid 3px #0ef ; */
}


.contenedor-menu-animado::before,
.contenedor-menu-animado::after {
    /* display: none; */
    content: '';
    position: absolute;
    height: 400px;
    width: 400px;
    top: 50%;
    left: 50%;
    background-color: red;
    transform-origin: top left;
    animation: rotar-lineas 4s linear infinite;
    background: linear-gradient(transparent, #FE8D46, #FE337C, #C633CE);
}

.contenedor-menu-animado::after {
    animation-delay: -2s;
}

@keyframes rotar-lineas {
    100% {
        transform: rotate(360deg);
    }
}

.contenedor-titulo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 2.2rem;
    color: #1ABCFD;
}

.contenedor-titulo h1 {
    animation: difuminado 5s ease-in infinite;
}

@keyframes difuminado {
    50% {
        text-shadow: 0 0 20px #1ABCFD;
    }
}

.contenedor-opciones {
    /* display: none !important; */
    position: relative;
    height: 98%;
    width: 98%;
    margin: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #22254E;
    z-index: 10;
}

@keyframes flotar-opciones {
    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.opcion-menu {
    position: relative;
    height: 60px;
    width: 80%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 700;
    box-shadow: 0 2px 10px #C825D6;
    overflow: hidden;
    color: #fff;
    border: none;
    transition: .5s;
}

.opcion-menu:hover {
    transform: translateY(-10px);
}

.opcion-menu::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, transparent, transparent, rgba(255, 255, 255, .5), transparent, transparent);
    transform: translateX(-100%);
    transition: .3s;
}

.opcion-menu:hover::before {
    transform: translateX(100%);
}

.jugar {
    background: linear-gradient(90deg, #C825D6, #6E4BEB);
}

.jugar:hover {
    background: linear-gradient(90deg, #FE8D46, #FE337C);
}

.instrucciones {
    background: linear-gradient(90deg, #0852D0, #1AB9FC);
}

.instrucciones:hover {
    background: linear-gradient(90deg, #C825D6, #6E4BEB);
}

.opciones {
    background: linear-gradient(90deg, #5D4DE2, #28244F);
}

.opciones:hover {
    background: linear-gradient(90deg, #0852D0, #1AB9FC);
}

.crear {
    background: linear-gradient(90deg, #FE8D46, #FE337C);
}

.crear:hover {
    background: linear-gradient(90deg, #5D4DE2, #28244F);
}

@media (max-width: 490px) {
    .contenedor-titulo {
        font-size: 1.5rem;
    }
}

.mis-niveles-container {
    transform: rotateY(180deg);
}
.mis-niveles-container.girar {
    transform: rotateY(0);
}

.mis-niveles-container {
    /* border: solid red; */
    height: 100%;
    width: 100%;
    transition: 1s;
    display: grid;
    grid-template-rows: 15% 85%;
    border-radius: 20px;
    border: solid #fff;
    overflow: hidden;
}

.mis-niveles-titulo {
    position: relative;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(45deg, #b61ac4, #1796d5);

}

.mis-niveles-regresar {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 20px;
    transition: .3s;
}

.mis-niveles-regresar:hover {
    transform: scale(1.2) rotate(90deg);
    color: red;
}

.mis-niveles-regresar:active {
    transform: scale(.8) rotate(90deg);
}

.mis-niveles-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 10px 0;
}

.mis-niveles-wrapper.cargando::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 10;
}

.mis-niveles-wrapper.cargando::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    height: 40px;
    width: 40px;
    border-top: solid 5px #fff;
    border-radius: 50%;
    animation: cargando-niveles 1s linear infinite;
    z-index: 20;
}

@keyframes cargando-niveles {
    100%{
        transform: translateY(-50%) translateX(-50%) rotate(360deg);
    }
}

.mis-niveles {
    /* border: solid yellow; */
    position: relative;
    height: 100%;
    width: 100%;
    overflow: auto;
}

/* .mis-niveles::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
} */

.mis-niveles.sin-niveles {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sin-niveles {
    font-size: 1.5rem;
    color: red;
    text-shadow: 0 0 20px #fff;
}


