.niveles-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateY(0) translateX(-50%);
    height: 100%;
    width: 95%;
    transition: 1s ease-in;
    /* border: solid #fff; */
}

.niveles-container.ocultar {
    /* se pone translate X -100% porque al hacerse mas pequeño con scale da la impresion de que
    el left 50% lo lleva mas a la derecha, aunque no es asi */
    transform: translateY(120%) translateX(-50%);
    animation: ocultar .8s ease-out;
}

@keyframes ocultar {
    0% {
        transform: translateY(0) translateX(-50%);

    }

    50% {
        transform: translateY(-100px) translateX(-50%);
    }

    100% {
        transform: translateY(100%) translateX(-50%);
        /* scale: .5; */
    }
}

.niveles-container.deslizar {
    transform: translateY(100%) translateX(-50%);

}

.niveles {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transition: 1s ease-in; */
}

.boton-cambiar {
    position: absolute;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: linear-gradient(90deg, #BE29D9, #7A46E8);
    color: #fff;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.boton-cambiar:hover {
    transform: scale(1.2);
}

.boton-cambiar:active {
    transform: scale(.9);
}

.boton-cambiar.inhabilitar {
    opacity: .5;
}

.boton-cambiar.inhabilitar:hover {
    transform: scale(1);
    cursor: not-allowed !important;
    pointer-events: none;
}

.boton-cambiar.inhabilitar:active {
    transform: scale(1);
}

.izq-btn {
    left: 0;
}

.der-btn {
    right: 0;
}








@media (max-width: 800px) {
    .boton-cambiar {
        top: 90%;
    }
}

@media (max-width: 510px) {

    .boton-cambiar {
        top: 75%;
    }

    .regresar-niveles-btn {
        top: 20px;
    }
}