.boton-funcional {
    /* height: 70px; */
    position: relative;
    /* width: 70px; */
    height: 70px;
    width: 80%;
    background-color: transparent;
    border: none;
    outline: none;
    transition: .3s ease-out;
    background-size: cover;
    border-radius: 20px;
    /* aspect-ratio: 1 / 1; */
    overflow: hidden;
    margin: auto;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(90deg, #CE22D5, #684CEC);
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px 0;
}

.boton-funcional.padding-icono {
    padding-right: 6px;
}

.boton-funcional.inhabilitar {
    transform: scale(.8);
    opacity: .5;
    border: none;
}

.boton-funcional.inhabilitar:active {
    transform: scale(.8);
}

.boton-funcional.inhabilitar:hover {
    transform: scale(.8);
    cursor: not-allowed;
}


.boton-funcional.zoom {
    background-size: cover;
}

.boton-funcional:hover {
    transform: translateY(-7px);
    /* animation: sacudir .5s ease-in; */
    background: linear-gradient(90deg, #0958D2, #17A9F5);
    box-shadow: 0 5px 20px #C824D6;
}

.boton-funcional:active {
    transform: translateY(0);
}

@keyframes sacudir {

    0%,
    100% {}

    33% {
        transform: rotate(10deg);
    }

    66% {
        transform: rotate(-10deg);
    }
}