.grilla-contenedor {
    border: solid #191c31;
    width: min(550px, 100%);
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    background-color: #161627;
    background-color: #0A161A;
    background-color: #0A0F14;
    transform: translate(-50vw);
    transition: 1s ease-out;
}

.grilla-contenedor.mostrar {
    transform: translateX(0);
}

.grilla {
    /* border: solid #0ef; */
    position: relative;
    display: grid;
    width: min(550px, 100%);
    max-width: 550px;
    aspect-ratio: 1 / 1;
    border-radius: 20px;
    gap: 3px;
}

@media screen and (max-width: 850px) {

    .grilla-contenedor, .grilla {
        width: min(400px, 100%);
    }

}