
.grilla-contenedor {
    border: solid #191c31;
    width: min(550px, 100%);
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    background-color: #161627;
    background-color: #0A161A;
}

.grilla {
    /* border: solid #0ef; */
    position: relative;
    display: grid;
    width: min(550px, 100%);
    max-width: 550px;
    aspect-ratio: 1 / 1;
    border-radius: 20px;
    gap: 3px;
}


.bot-contenedor {
    position: absolute;
    border: solid yellow;
    transition: transform .5s,
                translate .5s ease-in,
                height .5s ease-in,
                width .5s ease-in;
    width: auto;
    aspect-ratio: 1 / 1;
    border-radius: 15px;
    /* height: 100%;
    width: 100%; */
}

.bot-contenedor.quitar-transition {
    transition: none;
}

.bot-contenedor.quitar-transition img {
    transition: none;
}

.bot-contenedor img {
    height: 100%;
    width: 100%;
    transition: .3s;
    object-fit: cover;
}

.bot-contenedor.animar img {
    animation: encender-luz .5s ease-in;
}

@keyframes encender-luz {
    50%{
        scale: .7;
    }
}

.bot-contenedor.colisionar-arr img {
    translate: 0 20px;
    height: 110%;
}

.bot-contenedor.colisionar-abj img {
    translate: 0 -20px;
    height: 110%;
}

.bot-contenedor.colisionar-der img {
    translate: -20px 0;
    width: 110%;
}
.bot-contenedor.colisionar-izq img {
    translate: 20px 0;
    width: 110%;
}



