
.grilla-contenedor {
    border: solid #191c31;
    width: min(550px, 100%);
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    background-color: #161627;
    background-color: #0A161A;
    background-color: #0A0F14;
}

.grilla {
    /* border: solid #0ef; */
    position: relative;
    display: grid;
    width: min(550px, 100%);
    max-width: 550px;
    aspect-ratio: 1 / 1;
    border-radius: 20px;
    gap: 3px;
}


.bot-contenedor {
    position: absolute;
    border: solid yellow;
    transition: transform .5s,
                translate .5s ease-in,
                height .5s ease-in,
                width .5s ease-in;
    width: auto;
    aspect-ratio: 1 / 1;
    border-radius: 15px;
    /* height: 100%;
    width: 100%; */
}

.bot-contenedor.quitar-transition {
    transition: none;
}

.bot-contenedor.quitar-transition img {
    transition: none;
}





