

.grilla {
    border: solid #0ef;
    position: relative;
    display: grid;
    width: min(550px, 100%);
    max-width: 550px;
    aspect-ratio: 1 / 1;
}


.bot-contenedor {
    position: absolute;
    top: 0;
    left: 0;
    border: solid yellow;
    transition: .5s;
    width: auto;
    aspect-ratio: 1 / 1;
    /* height: 100%;
    width: 100%; */
}

.bot-contenedor img {
    height: 100%;
    width: 100%;
    transition: .5s;
    object-fit: cover;
}

