
.nivel {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 15px;
    background: linear-gradient(#0853D0, #19B4FA);
    color: #fff;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}