.botones-contenedor {
    border: solid yellow;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 15px;
    padding: 10px;
    margin-top: auto;
}

/* .botones-contenedor button:nth-child(6){
    padding-right: 5px;
} */

.boton-luz {
    position: relative;
    color: yellow;
    background-color: #fff;
    border-radius: 50% !important;
    border-color: yellow !important;
}

.boton-luz::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: red;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, transparent, #fff, transparent, transparent);
    transform: translateX(-100%);
    transition: .5s;
}

.boton-luz:hover::before {
    transform: translateX(100%);
}

.boton-luz.inhabilitar:hover::before {
    transform: translateX(-100%);
}

.boton-luz.inhabilitar:active {
    background-color: transparent;
    color: yellow;
    box-shadow: none;
}

.boton-luz:active {
    background-color: yellow;
    color: #fff;
    box-shadow:
        0 0 10px yellow,
        0 0 20px yellow,
        0 0 30px yellow,
        0 0 40px yellow;
}

.boton-jugar {
    color: #fff;
    border-radius: 50%;
    border-radius: 50% !important;
    padding-left: 5px;
    padding-top: 2px;
    font-weight: 700;
    background-color: #F1287F !important;
}

.boton-jugar.inhabilitar {
    cursor: not-allowed;
    padding-left: 0;
}

.boton-jugar.inhabilitar:hover {
    box-shadow: none;
}

.boton-jugar:hover {
    box-shadow:
        0 0 10px #F1287F,
        0 0 20px #F1287F,
        0 0 30px #F1287F,
        0 0 40px #F1287F;

}

.boton-jugar:active {
    box-shadow: none;
}

.panel-principal {
    border: solid #fff;
    /* height: 550px; */
    width: min(450px, 100%);
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 10px;
}

.comandos-contenedor {
    border: solid #F1287F;
    width: 100%;
    max-height: 350px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto !important;
    padding: 20px 20px;
    justify-content: center;
    gap: 15px;
}

.boton-reiniciar {
    color: #fff;
    background: linear-gradient(#DF227E, #852CE0, #1CB6F8) !important;
    padding-top: 5px;
    transition: 5s;
    border-radius: 50% !important;
    /* transform: rotate(-45deg); */
}

.boton-reiniciar:hover {
    transform: rotate(180deg) scale(1.2) !important;
}

.boton-reiniciar:active {
    scale: .8;
    box-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 30px #fff,
    0 0 40px #fff;
}

.boton-reiniciar.inhabilitar:hover {
    transform: scale(.8) !important;
}

.boton-reiniciar.inhabilitar:active {
    scale: 1;
    box-shadow: none;
}

/* para el boton limpiar */

.boton-limpiar {
    width: 70px;
    aspect-ratio: 1 / 1;
    border-radius: 20px;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #f00;
    outline: none;
    border: none;
    transition: .3s;
}

.boton-limpiar:hover {
    border: solid #fff;
    transform: scale(1.1);
    box-shadow: 0 0 10px #fff, 0 0 20px #fff;
}

.boton-limpiar:active {
    transform: scale(.9);
}

.boton-limpiar.inhabilitar {
    transform: scale(.8);
    opacity: .8;
}

.boton-limpiar.inhabilitar:hover {
    border: none;
    box-shadow: none;
    cursor: not-allowed;
}


