
.tool {
    position: relative;
    background-size: cover;
    width: 130px;
    aspect-ratio: 1 / 1;
    border: solid #fff;
    background-position: center;
    cursor: grab;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}

.tool:hover {
    box-shadow: 0 0 30px #fff;
}

.tool:active {
    cursor: grabbing;
    transform: scale(.8);
}

.tool.bot {
    border: dashed 5px #0F7BE1;
    /* background-color: rgba(255, 255, 255, .5); */
}

.tool.bot::before {
    content: '▲';
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%) rotate(var(--sentido));
    color: rgb(0, 255, 0);
    font-size: 2rem;
    transition: .5s;
}

.tool.bot.derecha::before {
    top: 50%;
    left: 100%;
    transform: translateX(-50%) translateY(-50%) rotate(var(--sentido));
}

.tool.bot.abajo::before {
    top: 100%;
    transform: translateY(-50%) translateX(-50%) rotate(var(--sentido));
}

.tool.bot.izquierda::before {
    top: 50%;
    left: 0;
    transform: translateY(-50%) translateX(-50%) rotate(var(--sentido));
}

.tool.bot.inhabilitar {
    cursor: not-allowed;
    transform: scale(.9);
    opacity: .5;
}

.tool.bot.inhabilitar:hover {
    box-shadow: none;
}

.tool.luz {
    color: yellow;
    background: linear-gradient(-45deg, #6C4BEB, #CC24D6) !important;
}

.tool-fondo {
    /* border: solid #fff; */
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center;
    transition: .5s;
    transform: scale(1.2);
}

.tool-fondo.voltear {
    transform: scaleX(-1) scale(1.2);

}
