
.app-wrapper {
  overflow: hidden; 
  transition: 1s ease-in;
  /* border: solid #fff; */
}

.app-wrapper.mostrar {
  transform: translateY(-100%);
}

.app-contenedor {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #191c31; */
  gap: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 10;

}

@media screen and (max-width: 850px) {
  .app-contenedor {
    flex-direction: column;
  }
}

.modal-luz {
  position: fixed;
  top: 50%;
  left: 50%;
  color: #b7dace;
  font-size: 20px;
  transform: translate(-50%, -50%);
  background: linear-gradient(120deg, #063587, #19B4FA);
  padding: 20px 40px;
  border-radius: 25px;
  text-align: center;
}


.boton-aceptar {
 margin-top: 10px;
  padding: 10px 20px;
  background: linear-gradient(120deg, #041a3e, #1d749c);
  color: rgb(176, 140, 140);
  border: none;
  border-radius: 10px;
  font-size: 14px;
}
