.app-contenedor {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #191c31;
  gap: 20px;
  overflow: auto;
}

@media screen and (max-width: 850px) {
  .app-contenedor {
    flex-direction: column;
  }
}

