.app-contenedor {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #191c31;
  flex-direction: column;
  gap: 20px;
}

.botones-contenedor {
  /* border: solid yellow; */
  height: 70px;
  width: min(550px, 100%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.botones-contenedor button {
  height: 100%;
  width: 70px;

}

.jugarBtn {
  height: 100%;
  width: 70px;
  color: #fff;
  font-size: 4rem;
  border: solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F1287F;
  border-radius: 50%;
  transition: .3s;
  padding-left: 5px;
  box-shadow: 
    0 0 10px #F1287F,
    0 0 20px #F1287F,
    0 0 30px #F1287F,
    0 0 40px #F1287F
}

.jugarBtn:hover {
  transform: scale(1.15);
  box-shadow: none;
}

.jugarBtn:active {
  transform: scale(.9);
}